
.icon-iglobe {
	background-image: url('../images/iglobe.png');
	background-repeat: no-repeat;
}

.icon-inews {
	background-image: url('../images/inews.png');
	background-repeat: no-repeat;
}

.icon-itel {
	background-image: url('../images/itel.png');
	background-repeat: no-repeat;
}

.icon-itwitter {
	background-image: url('../images/itwitter.png');
	background-repeat: no-repeat;
}

.icon-iweb {
	background-image: url('../images/iweb.png');
	background-repeat: no-repeat;
}

.icon-logo-focuson {
	background-image: url('../images/logo-focuson.png');
	background-repeat: no-repeat;
}

.icon-logo-healthinaction {
	background-image: url('../images/logo-healthinaction.png');
	background-repeat: no-repeat;
}

.icon-logo-healthpovertyaction {
	background-image: url('../images/logo-healthpovertyaction.png');
	background-repeat: no-repeat;
}

.icon-iactions {
	background-image: url('../images/iactions.png');
	background-repeat: no-repeat;
}

.icon-iaddress {
	background-image: url('../images/iaddress.png');
	background-repeat: no-repeat;
}

.icon-iemail {
	background-image: url('../images/iemail.png');
	background-repeat: no-repeat;
}

.icon-ievents {
	background-image: url('../images/ievents.png');
	background-repeat: no-repeat;
}

.icon-ifacebook {
	background-image: url('../images/ifacebook.png');
	background-repeat: no-repeat;
}
