@charset "utf-8";
/* VARIABLES */
/* FONTS */
@font-face {
  font-family: 'humanst521_bt';
  src: url('../fonts/hum521b-webfont.woff2') format('woff2'), url('../fonts/hum521b-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'humanst521_bt';
  src: url('../fonts/hum521bi-webfont.woff2') format('woff2'), url('../fonts/hum521bi-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'humanst521_bt';
  src: url('../fonts/hum521i-webfont.woff2') format('woff2'), url('../fonts/hum521i-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'humanst521_bt';
  src: url('../fonts/hum521n-webfont.woff2') format('woff2'), url('../fonts/hum521n-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* MIXINS */
/* GENERIC */
* {
  margin: 0;
  padding: 0;
  outline: none;
  line-height: 140%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: humanst521_bt, sans-serif;
  color: #58595b;
  font-size: 16px;
}
h1,
h2,
h3 {
  font-weight: normal !important;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
  padding-bottom: 16px;
}
h1 {
  font-size: 200%;
}
h2 {
  font-size: 150%;
  color: #f78f1e;
}
h3 {
  font-size: 125%;
}
p {
  font-size: 100%;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #58595b;
}
.pullquote {
  font-weight: normal !important;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
  color: #f78f1e;
  font-size: 125%;
  border-style: solid;
  border-width: 20px 0 20px 0;
  -moz-border-image: url('../images/borderorange0.png') 20 20 20 20 round;
  -webkit-border-image: url('../images/borderorange0.png') 20 20 20 20 round;
  -o-border-image: url('../images/borderorange0.png') 20 20 20 20 round;
  border-image: url('../images/borderorange0.png') 20 20 20 20 round;
  margin: 20px 0;
}
.gallery-item {
  width: 100%;
  position: relative;
}
.gallery-item:hover {
  -webkit-filter: opacity(80%);
  filter: opacity(80%);
}
.gallery-item .imageholder {
  display: block;
  width: 100%;
  overflow: hidden;
}
.gallery-item .imageholder.wait {
  background-image: url(@{images}load.gif);
  background-repeat: no-repeat;
  background-position: center;
}
.gallery-item .gallery-image {
  width: 100%;
  height: auto;
  display: block;
}
.gallery-item .gallery-caption {
  padding: 10px 0;
}
.gallery-item .gallery-description {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 1% 100%;
  -ms-transform: rotate(90deg);
  -ms-transform-origin: 1% 100%;
  transform: rotate(90deg);
  transform-origin: 1% 100%;
  font-size: 60%;
  color: #FFF;
  font-weight: bold;
}
figure {
  width: 100% !important;
}
figure img {
  display: block;
  width: 100% !important;
  height: auto !important;
}
/* ICONS */
.icon {
  display: block;
}
.icon-iaddress,
.icon-iemail,
.icon-itel,
.icon-itwitter,
.icon-iweb,
.icon-ifacebook {
  width: 14px;
  height: 14px;
}
.icon-inews,
.icon-iactions,
.icon-ievents {
  width: 23px;
  height: 23px;
}
.icon-iglobe {
  width: 60px;
  height: 60px;
}
.icon-logo-healthpovertyaction {
  width: 107px;
  height: 110px;
}
.icon-logo-focuson {
  width: 83px;
  height: 79px;
}
.icon-logo-healthinaction {
  width: 177px;
  height: 104px;
}
footer .icon {
  display: inline-block;
  margin-right: 10px;
}
/* Borders + Backgrounds + Colors */
/*
  #head_title_wrap  {.jag(1,0,0,0);}
  #body section  {border-top:solid #FFF 5px; .clearfix(); }
  #head_plus_menu {.borderpull();}
  #head_plus  {.jag(1,0,0,0);}
  #head_side  {.jag(0,1,0,0);}
  #events_actions_news {.block, .item { .jag(0,1,0,1);}}
  #page-footer {.jag(1,0,0,0,'green');}
  */
#legacy {
  border-style: solid;
  border-width: 24px 24px 24px 24px;
  -moz-border-image: url('../images/borderorange.png') 24 24 24 24 round;
  -webkit-border-image: url('../images/borderorange.png') 24 24 24 24 round;
  -o-border-image: url('../images/borderorange.png') 24 24 24 24 round;
  border-image: url('../images/borderorange.png') 24 24 24 24 round;
}
.bg {
  background-color: #f5f5f5;
}
.bg_orange {
  background-color: #f78f1e;
  font-weight: bold;
  color: #FFF;
}
.bg_orange a {
  color: #FFF;
}
.bg_grey {
  background-color: #58595b;
  font-weight: bold;
  color: #FFF;
}
.bg_grey a {
  color: #FFF;
}
.bg_green {
  background-color: #8cc63f;
  font-weight: bold;
  color: #FFF;
}
.bg_green a {
  color: #FFF;
}
.bg_white {
  background-color: #FFF;
  color: #58595b;
}
.bg_lgreen {
  background-color: #e0eecb;
  color: #58595b;
}
.bg_lgrey {
  background-color: #c6c8ca;
  color: #58595b;
}
.f_grey {
  color: #58595b;
}
.f_orange {
  color: #f78f1e;
}
body,
#head {
  background-color: #f5f5f5;
}
#body.wrapper,
#head.wrapper {
  background: #FFF;
}
/* Padding #page-header .wrapper {padding:@gap;} #head_issue_logo {margin:@gap;}*/
#head_issue,
#head_plus,
#head_title_wrap,
#head_side,
#head_welcome,
#featured_health_worker,
#fhw_header,
#fhw_footer,
#fhw_story,
#global_movement,
#events_actions_news,
#page-footer {
  padding: 20px;
}
#fhw {
  padding: 20px 0;
}
/* STRUCTURE */
.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 756px;
}
@media screen and (min-width: 600px) {
  .wrapper {
    width: 70%;
    margin: 0 auto;
  }
}
#page-header {
  position: fixed;
  height: auto;
  overflow: hidden;
  width: 100%;
  z-index: 100;
}
#page-footer {
  position: fixed;
  bottom: 0;
  height: auto;
  width: 100%;
  overflow: hidden;
  z-index: 100;
}
#head {
  height: 100%;
  position: relative;
  z-index: 200;
}
#head .wrapper {
  position: relative;
  height: 100%;
}
/* Nitty Gritty */
#page-header,
#page-footer {
  display: none;
}
#page-header .icon-logo-healthpovertyaction {
  width: 70px;
  height: 70px;
  background-size: contain;
  float: left;
}
#page-header .waypoint {
  padding: 5px 6.66666667px;
  margin: 5px;
  background: #FFF;
  display: inline-block;
}
#page-header .waypoint:hover,
#page-header .waypoint.active {
  background-color: #f5f5f5;
}
#head #head-inner,
#head #head_image,
#head #head_bottom {
  position: absolute;
  left: 0;
  width: 100%;
}
#head #head-inner {
  z-index: 12;
  height: 100%;
}
#head #head_image {
  z-index: 11;
  height: 100%;
}
#head #head_bottom {
  bottom: 0;
}
#head #head_issue {
  text-align: right;
  border-bottom: solid #FFF 5px;
}
#head #head_issue #head_issue_logo {
  position: absolute;
  z-index: 3;
}
#head #head_title_wrap .inner {
  position: relative;
  top: -20px;
  z-index: 3;
}
#head #head_title_wrap #head_title_logo {
  float: left;
}
#head #head_title_wrap #head_title * {
  display: inline;
}
#head #head_title_wrap #head_title_pretext {
  text-transform: uppercase;
}
#head #head_plus #head_plus_logo {
  float: right;
}
#head #head_plus #head_plus_menu {
  position: relative;
  margin-right: 122px;
  z-index: 5;
}
#head #head_plus #head_plus_plus {
  position: absolute;
  font-weight: normal !important;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
  color: #f78f1e;
  text-transform: uppercase;
  background: #58595b;
  top: -29px;
  padding: 0 20px 0 0;
  font-size: 125%;
}
#head #head_plus .menu-plus {
  display: block;
}
#head #head_plus .menu-plus::after {
  content: ' ...';
  color: #f78f1e;
}
#welcome #head_worker .gallery-caption {
  font-weight: bold;
}
#welcome #head_worker .gallery-caption::first-line {
  font-size: 150%;
  font-weight: normal !important;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
  text-transform: uppercase;
}
@media screen and (min-width: 400px) {
  #welcome #head_side {
    width: 200px;
    float: left;
    margin-right: 20px;
  }
  #welcome #head_welcome {
    margin-left: 200px;
  }
}
#main #main_head {
  position: relative;
}
#main #main_head .gallery-caption {
  display: none;
}
#main #main_head #main_summary {
  background: #FFF;
  padding: 20px;
  position: absolute;
  bottom: 40px;
  margin: 0 40px;
}
@media screen and (min-width: 600px) {
  #main #main_head #main_summary {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  #main #main_head #main_summary {
    position: static;
    margin: 0 0;
  }
}
#main #main_story {
  padding: 20px;
}
@media screen and (min-width: 600px) {
  #main #main_story {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}
#main #main_story figure {
  width: 100%;
}
#main #main_story figcaption {
  background: #58595b;
  font-size: 75%;
  color: #FFF;
  line-height: 100%;
  padding: 10px;
}
#featured_health_worker #fhw_header,
#featured_health_worker #fhw_footer {
  font-size: 175%;
  font-weight: normal !important;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
}
#featured_health_worker #fhw_footer {
  background: #f78f1e;
  clear: both;
  font-size: 125%;
}
#featured_health_worker #fhw_header {
  background: #8cc63f;
}
#featured_health_worker #fhw_header p::first-line {
  font-size: 90%;
  color: #58595b;
}
#featured_health_worker #fhw #fhw_image .gallery-caption {
  background: #fff;
  color: #f78f1e;
  padding: 20px;
}
#featured_health_worker #fhw #fhw_story h1,
#featured_health_worker #fhw #fhw_story h2 {
  color: #8cc63f;
  font-size: 150%;
}
@media screen and (min-width: 400px) {
  #featured_health_worker #fhw #fhw_image {
    width: 50%;
    float: right;
    padding-left: 20px;
  }
  #featured_health_worker #fhw #fhw_story {
    margin-right: 50%;
  }
}
#global_movement #global_movement_title {
  font-size: 200%;
  padding: 2.85714286px 20px 2.85714286px 80px;
  position: relative;
}
#global_movement #global_movement_title .icon-iglobe {
  position: absolute;
  top: -4px;
  left: 10px;
}
#global_movement #gm_main {
  background: #FFF;
  color: #58595b;
  padding: 10px;
}
@media screen and (min-width: 600px) {
  #global_movement #gm_main {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}
#global_movement #gm_main h1,
#global_movement #gm_main h2,
#global_movement #gm_main h3 {
  color: #8cc63f;
  font-size: 125%;
}
@media screen and (min-width: 600px) {
  #events_actions_news {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}
#events_actions_news .block,
#events_actions_news .item {
  padding: 10px;
  margin-bottom: 5px;
}
#events_actions_news .block {
  color: #FFF;
  text-transform: uppercase;
  padding: 6.66666667px 10px;
}
#events_actions_news #events .block {
  background: #8cc63f;
}
#events_actions_news #events .block::before {
  content: url('../images/ievents.png');
}
#events_actions_news #events .item {
  background: #e0eecb;
}
#events_actions_news #events .item h1,
#events_actions_news #events .item h2,
#events_actions_news #events .item h3,
#events_actions_news #events .item h4 {
  color: #8cc63f;
}
#events_actions_news #actions .block {
  background: #58595b;
}
#events_actions_news #actions .block::before {
  content: url('../images/iactions.png');
}
#events_actions_news #actions .item {
  background: #c6c8ca;
}
#events_actions_news #actions .item h1,
#events_actions_news #actions .item h2,
#events_actions_news #actions .item h3,
#events_actions_news #actions .item h4 {
  color: #58595b;
}
#events_actions_news #news .block {
  background: #f78f1e;
}
#events_actions_news #news .block::before {
  content: url('../images/inews.png');
}
#events_actions_news #news .item {
  background: #fedfbe;
}
#events_actions_news #news .item h1,
#events_actions_news #news .item h2,
#events_actions_news #news .item h3,
#events_actions_news #news .item h4 {
  color: #f78f1e;
}
#events_actions_news .block::before {
  float: left;
  margin: 2px 10px 0 0;
}
#page-footer {
  font-size: 75%;
}
#page-footer ul li {
  display: inline-block;
  list-style: none;
}
#page-footer ul li::before {
  content: '  |  ';
}
#page-footer ul li:first-child::before {
  content: '';
}
